.modal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.overlay {
  position: fixed;
  background: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
}
